@import "tailwindcss";

:root {
  --background: #F5F7FA;
  --foreground: #111827;

  --primary: #2563EB;
  --secondary: #84CC16;

  --card: #FFFFFF;

  --border: #E5E7EB;

  --radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 50px;
}